<div *ngIf="data" class="flex justify-center ">
    <div class="w-4/5 lg:grid grid-cols-2 mb-10 text-[#3B4D66]">
        <div class="dark:text-white grid-cols-1 text-4xl md:text-6xl lg:text-7xl text-[#3B4D66] mb-8 md:mb-16">
            <p class="font-light pb-3">Quiz completed</p>
            <p class="font-semibold">You scored...</p>
        </div>
        <div>
            <div class="dark:bg-[#3B4D66] transition ease-in-out duration-500 dark:text-white bg-white flex justify-center items-center flex-col rounded-3xl shadow-lg p-9 mb-8">
                <div class="dark:text-white flex items-center text-sm md:text-3xl text-[#3B4D66] font-semibold">
                    <div [ngStyle]="{'background': data.iconBg }" class="w-10 h-10 md:w-16 md:h-16 flex justify-center items-center rounded-xl mr-3 md:mr-6">
                        <img class="w-8" [src]="data.icon" alt="">
                    </div>
                    <p>{{data.title}}</p>
                </div>
                    <p class="text-8xl md:text-[10rem] font-semibold">{{score}}</p>
                    <p class="dark:text-[#ABC1E1] text-lg md:text-2xl font-light text-[#626C7F]">out of 10</p>
            </div>
            <button (click)="toIndexPage()" class="w-full h-14 md:h-20 bg-[#A729F5] text-lg md:text-2xl text-white font-semibold rounded-2xl hover:bg-[#d18afe]">
                Play Again
            </button>
        </div>
        
        
    </div>

</div>
