/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    background-color: 
}
body{
    width: 100%;
    height: 100vh;
    background: #F4F6FA url("../src/assets/images/pattern-background-desktop-light.svg") no-repeat;
}

.dark-bg{
    background: #313E51 url("../src/assets/images/pattern-background-desktop-dark.svg") no-repeat;
}
.no-hover:hover {
    background-color: white !important;
  }
  
  .no-hover .group-hover\:bg-purple-200 {
    background-color: white !important;
  }
  
  .no-hover .group-hover\:text-purple-600 {
    color: #626C7F !important;
  }
  
  /* Ensure selected option letter stays purple */
  .no-hover .bg-purple-200 {
    background-color: #E2D8F9 !important;
  }
  
  .no-hover .text-purple-600 {
    color: #7C3AED !important;
  }
  
  /* Override background color for the selected option letter */
 
  
  .text-white {
    color: white !important;
  }