<!-- main container -->
<div  class=" flex justify-center">
    <div class="w-4/5 grid grid-cols-2">
        <!-- container for Hero text -->
        <div class="grid-cols-1">
            <p class="dark:text-white text-6xl font-light pb-3 text-[#313E51]">Welcome to the</p>
            <p class="dark:text-white text-6xl font-medium pb-16 text-[#313E51]">Frontend Quiz!</p>
            <p class="dark:text-white text-xl font-light italic text-[#313E51]">Pick a subject to get started.</p>
        </div>
    
        <!-- constainer for subject -->
         <div class="">
            <!-- HTML subject -->
            <div (click)="goToQuestios(subject.id)" *ngFor="let subject of data" class="dark:bg-[#3B4D66] bg-white rounded-2xl p-5 flex items-center mb-6 shadow-md">
                <div [ngStyle]="{'background': subject.iconBg}" class="w-14 h-14 flex justify-center items-center rounded-md mr-8">
                    <img [src]="subject.icon" alt="">
                </div>
                <p class="dark:text-white text-3xl text-[#313E51] font-medium">{{subject.title}}</p>
            </div>
         </div>
    </div>
</div>